@import "src/scss/sample";
.check__list {
  margin: 164px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 218px;
  &-question {
    .question__title {
      @include weightSizeColorLH(600, 30px, 37px, #262626);
    }
    .question__text {
      max-width: 563px;
      margin: 32px 0 39px;
      font-style: normal;
      @include weightSizeColorLH(500, 20px, 24px, rgba(38, 38, 38, 0.7));
    }
  }
}