.link-red {
  display: inline-block;
  background: #BD7048;
  border-radius: 100px;
  padding: 28px 55px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  transition: all .3s ease;
  &:hover {
    background-color: #3b3531;
  }
}