@import "src/scss/sample";

.design {
  &__room-names {
    .name__room {
      margin: 38px 0 43px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: 99px;
      }
      div {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #262626;
        @include weightSizeColorLH(500, 30px ,37px, #262626)
      }
      .room-line {
        display: block;
        width: 84%;
        height: 1px;
        background-color: #CBCBCB;
      }
    }
  }
  &__room-block {
    .room__images {
      display: flex;
      justify-content: space-between;
      .room__img {
        width: 363px;
        img {
          width: 100%;
          border-radius: 20px;
        }
        .design__choice {
          margin-top: 33px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .name__img {
            padding-left: 24px;
            @include weightSizeColorLH(600, 20px ,24px, #353535)
          }
          .choice__img {
            width: 182px;
            height: 56px;
            background: #FAFAFA;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
              background: #facccc;
            }
            span {
              position: relative;
              display: block;
              padding-left: 33px;
              @include weightSizeColorLH(500, 15px, 18px, #BD7048);
              &:before {
                content: '';
                position: absolute;
                display: block;
                width: 21px;
                height: 23px;
                left: 0;
                background: url("../../../images/icons/basket.png") center center/cover no-repeat;
              }
            }
          }
        }
      }
    }
  }
}
