@import "src/scss/sample";

.design {
  &__room {
    .catalog__room {
      margin-top: 100px;
      text-align: center;
    }
  }
  &__room-title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__room-subtitle {
    text-align: center;
    @include weightSizeColorLH(500, 20px ,24px, rgba(38, 38, 38, 0.7));
  }
}